<html>
    <head>
        <title>Пример работы WEB-приложения</title>
    </head>
    <body>
        <h1>Расчеты модели</h1>
        <h2>Расшифровка код/возраст: 0 - до 18лет, 1 - от 18 до 25, 2 - 26-35, 3 - 36-45, 4 - 46-55, 5 - 56-65, 6 - >65</h2>
        <form method="post">
            <p>
                <label>Ввод кода пользователя</label>
                <input type="text" name="user_num">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
        {% if message %}
        {{message}}
        {% endif %}
    </body>
</html>